@model CareStream.Models.UserViewModel

@{
    ViewData["Title"] = "Create User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ActiveTab = TempData["activeTab"];
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Carestream</title>
    <!-- Bootstrap code & custom styles-->
    @*<link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/style.css" rel="stylesheet">*@
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/e508532408.js" crossorigin="anonymous"></script>
</head>

<body>
    <input type="hidden" id="activeTab" name="activeTab" value="@ActiveTab" />

    <div class="d-flex" id="wrapper">
        <div id="page-content-wrapper">

            <div class="container-fluid no-gutter border-bottom">
                <ul class="nav nav-pills mt-2 ">
                    <li class="nav-item mr-2">
                        <a class="nav-link border rounded-top border-bottom-0 text-dark font-weight-bold " id="createUserTab" href="#" onclick="activeHeaderTab('inviteUser','createUser')">
                            Create User
                        </a>
                    </li>
                    <li class="nav-item disabled">
                        <a class="nav-link border rounded-top border-bottom-0 text-dark" href="#" id="inviteUserTab" onclick="activeHeaderTab('createUser','inviteUser')">Invite user</a>
                    </li>
                </ul>
            </div>

            <div id="createUser">
                <div class="container no-gutter border-bottom mb-4">

                    <div class="row">
                        <nav class="navbar navbar-expand-lg navbar-light pt-0 pb-0">
                            <a class="navbar-brand" href="#"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="nav-tabs navbar-nav">
                                    <li class="nav-item active col-5">
                                        <a class="nav-link font-weight-bold" href="#" onclick="activaTab('identityTab')">
                                            Identity
                                            <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                    <li class="nav-item col-4">
                                        <a class="nav-link font-weight-bold" href="#" onclick="activaTab('groupsTab')">Groups</a>
                                    </li>
                                    <li class="nav-item col-5">
                                        <a class="nav-link font-weight-bold" href="#" onclick="activaTab('roleTab')">Roles</a>
                                    </li>
                                    <li class="nav-item col-5">
                                        <a class="nav-link font-weight-bold" href="#" onclick="activaTab('contactTab')">Contact Info</a>
                                    </li>
                                    <li class="nav-item col-5">
                                        <a class="nav-link font-weight-bold" href="#" onclick="activaTab('jobTab')">Job Info</a>
                                    </li>
                                    <li class="nav-item col-4">
                                        <a class="nav-link font-weight-bold text-truncate" href="#" onclick="activaTab('additionalTab')">Additional Attributes</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <div class="container" id="tabs">

                        <form method="post" action="/Users/Post">

                            <div class="row tab-pane active" id="identityTab">


                                <div class="form-group row mb-3">
                                    <label for="staticEmail" class="col-sm-2 col-form-label">
                                        User ID / Email ID
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="email" placeholder="Firstname.Lastname@carestream.com" asp-for="UserModel.SignInName" required>
                                        <span asp-validation-for="UserModel.SignInName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticUsername" class="col-sm-2 col-form-label">User Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" disabled="disabled" id="Username" asp-for="UserModel.DisplayName" placeholder="Firstname Lastname">
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticFirstname" class="col-sm-2 col-form-label">First Name </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Firstname" asp-for="UserModel.GivenName" onblur="getFullNameCreate()">
                                        <span asp-validation-for="UserModel.GivenName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticLastName" class="col-sm-2 col-form-label">Last Name </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Lastname" asp-for="UserModel.Surname" onblur="getFullNameCreate()">
                                        <span asp-validation-for="UserModel.Surname" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="inputInitialPassword" class="col-sm-2 col-form-label font-weight-bold">Password</label>
                                    <div class="col-sm-6"></div>
                                </div>

                                <div class="form-group row mb-3">
                                    <fieldset class="form-group">
                                        <div class="row">
                                            <legend class="col-sm-2 col-form-label">
                                                Initial Password
                                                <span class="text-danger">*</span>
                                            </legend>
                                            <div class="col-sm-6">
                                                @foreach (var pswOption in Model.UserModel.PasswordOptions)
                                                {
                                                    <div class="form-check">
                                                        @Html.RadioButtonFor(model => model.UserModel.PasswordOptionType, pswOption.Type, new { @class = "form-check-input", id = "pswOption" + pswOption.Id, onclick = "togglePassword()" })
                                                        @Html.Label("pswOption" + pswOption.Id, CareStream.Models.User.EnumExtensionMethods.GetDescription(pswOption.Type), new { @class = "form-check-label" })
                                                    </div>
                                                }
                                                @*<div class="form-check">
                                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="false" asp-for="AutoGeneratePassword" onclick="togglePassword()">
                                                        <label class="form-check-label" for="gridRadios2">
                                                            Auto-generate password
                                                        </label>
                                                    </div>
                                                    <div class="form-check mb-2">
                                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="true" asp-for="ManualCreatedPassword" onclick="togglePassword()" checked>
                                                        <label class="form-check-label" for="gridRadios1">
                                                            Let me create the password
                                                        </label>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-group row mb-3">
                                        <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold"></label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" id="inputPassword" asp-for="UserModel.Password" onblur="validatePassword()">
                                            <span asp-validation-for="UserModel.Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <div class="col-sm-8 text-right">
                                            <button type="button" class="btn btn-primary text-white" onclick="nextTab('identityTab' , 'groupsTab')">Next</button>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row tab-pane" id="groupsTab">
                                <div class="form-group row mb-3">
                                    <label for="staticGroups" class="col-sm-2 col-form-label">
                                        Groups
                                    </label>
                                    <div class="col-sm-6">
                                        @Html.DropDownListFor(x => x.UserModel.Groups, (SelectList)ViewData["Group"],
                                       new { style = "-webkit-appearance: menulist !important;width:300px", @class = "form-control", multiple = "multiple" })

                                        @*<select id="groups" class="form-control" multiple="multiple" js-group-multiple  style="-webkit-appearance: menulist !important;" asp-for="UserModel.Groups">
                                                <option>Default select</option>
                                            </select>*@

                                    </div>
                                </div>
                                <div class="form-group row mb-3">

                                    <div class="form-group row mb-3">
                                        <div class="col-sm-8 text-right">
                                            <button type="button" class="btn btn-primary text-white" onclick="previousTab('groupsTab','identityTab')">Back</button>
                                            <button type="button" class="btn btn-primary text-white" onclick="nextTab('groupsTab','roleTab')">Next</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row tab-pane" id="roleTab">
                                <div class="form-group row mb-3">
                                    <label for="staticassociation" class="col-sm-2 col-form-label">
                                        Delegated Administration
                                    </label>
                                    <div class="col-sm-6">
                                        <div class="btn-group" data-toggle="buttons">

                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(x => x.UserModel.DelegateAdministration, true) Yes
                                            </label>
                                            <label class="btn btn-primary">
                                                @Html.RadioButtonFor(x => x.UserModel.DelegateAdministration, false) No
                                            </label>


                                            @*<button class="btn btn-default" asp-for="UserModel.DelegateAdministration">Yes</button>
                                                <button class="btn btn-primary active" asp-for="UserModel.DelegateAdministration">No</button>*@

                                            @*@Html.RadioButtonFor(x => x.UserModel.DelegateAdministration, true, new { @class = "btn btn-default" }) Yes
                                                @Html.RadioButtonFor(x => x.UserModel.DelegateAdministration, false, new { @class = "btn btn-primary active" }) No*@
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticassociation" class="col-sm-2 col-form-label">
                                        Role & Association
                                    </label>
                                    <div class="col-sm-6">



                                        @Html.ListBoxFor(x => x.UserModel.RolesAA, (SelectList)ViewData["Roles"],
                                      new { style = "-webkit-appearance: menulist !important;width:300px", @class = "form-control", multiple = "multiple" })


                                    </div>
                                </div>
                                <div class="form-group row mb-3">

                                    <div class="form-group row mb-3">
                                        <div class="col-sm-8 text-right">
                                            <button type="button" class="btn btn-primary text-white" onclick="previousTab('roleTab','groupsTab')">Back</button>
                                            <button type="button" class="btn btn-primary text-white" onclick="nextTab('roleTab','contactTab')">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row tab-pane" id="contactTab">
                                <div class="form-group row mb-3">
                                    <label for="staticassociation" class="col-sm-2 col-form-label">
                                        Address
                                    </label>
                                    <div class="col-sm-6">
                                        @*<select class="form-control" style="-webkit-appearance: menulist !important;" asp-for="UserModel.Address">
                                                <option> </option>
                                            </select>*@
                                        <input type="text" class="form-control" id="address2" asp-for="UserModel.Address">
                                        <span asp-validation-for="UserModel.Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="staticaddress2" class="col-sm-2 col-form-label">
                                        Address 2
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="address2" asp-for="UserModel.Address2">
                                        <span asp-validation-for="UserModel.Address2" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="staticaddress3" class="col-sm-2 col-form-label">
                                        Address 3
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="address3" asp-for="UserModel.Address3">
                                        <span asp-validation-for="UserModel.Address3" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticassociation" class="col-sm-2 col-form-label">
                                        State / Province /Subdivision
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="Subdivision" asp-for="UserModel.State">
                                        <span asp-validation-for="UserModel.State" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticcountry" class="col-sm-2 col-form-label">
                                        Country
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="country" asp-for="UserModel.Country">
                                        <span asp-validation-for="UserModel.Country" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticregion" class="col-sm-2 col-form-label">
                                        Region
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="region" asp-for="UserModel.Region">
                                        <span asp-validation-for="UserModel.Region" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticregion" class="col-sm-2 col-form-label">
                                        Zip / Postal Code
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="postcode" asp-for="UserModel.PostalCode">
                                        <span asp-validation-for="UserModel.PostalCode" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticmobileN" class="col-sm-2 col-form-label">
                                        Mobile Number
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="mobilen" asp-for="UserModel.MobilePhone">
                                        <span asp-validation-for="UserModel.MobilePhone" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticphoneN" class="col-sm-2 col-form-label">
                                        Phone Number
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="phonen" asp-for="UserModel.BusinessPhone">
                                        <span asp-validation-for="UserModel.BusinessPhone" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticBEmail" class="col-sm-2 col-form-label">
                                        Business Email
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="BEmail" asp-for="UserModel.BusinessEmail">
                                        <span asp-validation-for="UserModel.BusinessEmail" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticwebsite" class="col-sm-2 col-form-label">
                                        Website
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="website" asp-for="UserModel.WebSite">
                                        <span asp-validation-for="UserModel.WebSite" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <div class="form-group row mb-3">
                                        <div class="col-sm-8 text-right">
                                            <button type="button" class="btn btn-primary text-white" onclick="previousTab('contactTab','roleTab')">Back</button>
                                            <button type="button" class="btn btn-primary text-white" onclick="nextTab('contactTab','jobTab')">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row tab-pane" id="jobTab">
                                <div class="form-group row mb-3">
                                    <label for="staticjobTitle" class="col-sm-2 col-form-label">
                                        Job Title
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="jobTitle" asp-for="UserModel.JobTitle">
                                        <span asp-validation-for="UserModel.JobTitle" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticdepartment" class="col-sm-2 col-form-label">
                                        Department
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="department" asp-for="UserModel.Department">
                                        <span asp-validation-for="UserModel.Department" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <div class="form-group row mb-3">
                                        <div class="col-sm-8 text-right">
                                            <button type="button" class="btn btn-primary text-white" onclick="previousTab('jobTab','contactTab')">Back</button>
                                            <button type="button" class="btn btn-primary text-white" onclick="nextTab('jobTab','additionalTab')">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row tab-pane" id="additionalTab">

                                <div class="form-group row mb-3">
                                    <label for="staticuserLocation" class="col-sm-2 col-form-label">
                                        User Location
                                    </label>
                                    <div class="col-sm-6">

                                        @Html.DropDownListFor(x => x.UserModel.UsageLocation, (SelectList)ViewData["UserLocation"],
                                                    new { style = "-webkit-appearance: menulist !important;width: 250px;", @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticuserType" class="col-sm-2 col-form-label">
                                        User Type
                                    </label>
                                    <div class="col-sm-6">

                                        @Html.DropDownListFor(x => x.UserModel.UserTypeAA, (SelectList)ViewData["UserType"],
                                            new { style = "width:-webkit-fill-available;width: 250px;", @class = "form-control", multiple = "multiple" })
                                    </div>
                                </div>

                                <div class="form-group row mb-3">
                                    <label for="staticLanguage" class="col-sm-2 col-form-label">
                                        Language
                                    </label>
                                    <div class="col-sm-6">

                                        @Html.DropDownListFor(x => x.UserModel.Language_C, (SelectList)ViewData["Language"], new { style = "width: 250px;", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="staticUserBDepartment" class="col-sm-2 col-form-label">
                                        User Business Department
                                    </label>
                                    <div class="col-sm-6">


                                        @Html.DropDownListFor(x => x.UserModel.UserBusinessDepartmentAA, (SelectList)ViewData["UserBusDep"],
                                            new { style = "width:-webkit-fill-available;width: 250px;", @class = "form-control", multiple = "multiple" })
                                    </div>
                                </div>
                                <div class="form-group row mb-3">

                                    <div class="form-group row mb-3">
                                        <div class="col-sm-8 text-right">
                                            <button type="button" class="btn btn-primary text-white" onclick="previousTab('additionalTab','jobTab')">Back</button>
                                            <button type="submit" class="btn btn-primary text-white" onclick="blockUi();">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

            <div id="inviteUser">
                <div class="container">
                    <div class="row mt-4">
                        <form method="post" action="/Users/CreateInvite">
                            <div class="form-group row mb-3">
                                <label for="inputIdentity" class="col-sm-2 col-form-label font-weight-bold">Identity</label>
                                <div class="col-sm-6"></div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="staticname" class="col-sm-2 col-form-label">Name <span class="text-danger">*</span> </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="name" asp-for="InviteUser.InvitedUserDisplayName" placeholder="Firstname Lastname" onblur="getFullName()">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="staticemailAddress" class="col-sm-2 col-form-label">Email Address </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="emailaddress" placeholder="John.doe@carestream.com" asp-for="InviteUser.InvitedUserEmailAddress">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="staticFirstname" class="col-sm-2 col-form-label">First Name </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inviteFirstname">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="staticLastName" class="col-sm-2 col-form-label">Last Name </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="inviteLastname">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="staticuserLocation" class="col-sm-2 col-form-label">
                                    User Location
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" style="-webkit-appearance: menulist !important;">
                                        <option>Default select</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="inputInitialPassword" class="col-sm-2 col-form-label font-weight-bold">Groups & Roles</label>
                                <div class="col-sm-6"></div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="inputInitialPassword" class="col-sm-2 col-form-label ">Groups</label>
                                <div class="col-sm-6 primary"> 0 groups selected </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="inputInitialPassword" class="col-sm-2 col-form-label ">Roles</label>
                                <div class="col-sm-6 primary"> User </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="inputInitialPassword" class="col-sm-2 col-form-label font-weight-bold">Personal Message </label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="personalMessage" rows="3" asp-for="InviteUser.CustomizedMessageBody"></textarea>
                                </div>
                            </div>


                            <div class="form-group row mb-3">
                                <div class="col-sm-8 text-right">
                                    <button type="submit" class="btn btn-primary text-white">Invite</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>

    <script ype="text/javascript">

        $(document).ready(function () {

            if ($('#activeTab').val() === 'invite') {
                activeHeaderTab('createUser', 'inviteUser');
            } else {
                activeHeaderTab('inviteUser', 'createUser')
                $("#groupsTab").hide();
                $("#roleTab").hide();
                $("#contactTab").hide();
                $("#jobTab").hide();
                $("#additionalTab").hide();
                $("#inviteUser").hide();

                $('#UserModel_UserBusinessDepartmentAA').select2({
                    placeholder: 'Select a business department'
                });

                $('#UserModel_UserTypeAA').select2({
                    placeholder: 'Select a user type'
                });

                $('#UserModel_RolesAA').select2({
                    placeholder: 'No roles assigned'
                });
            }

            activaTab('identityTab');

            $('#UserModel_Groups').select2({
                placeholder: '0 groups selected'
            });

            if (!$('#pswOption1').prop('checked')) {
                $('#pswOption2').prop('checked', true);
            }

            togglePassword();

            unBlockUi();
        });

        function activeHeaderTab(hiddentab, visibletab) {

            $("#" + hiddentab).hide();
            $("#" + hiddentab + "Tab").removeClass("font-weight-bold");
            $("#" + visibletab).show();
            $("#" + visibletab + "Tab").addClass("font-weight-bold");

        }

        function activaTab(tab) {
            console.log($('#tabs .tab-pane'));
            $("#tabs .tab-pane").each(function (index) {
                if ($(this).hasClass("active")) {
                    console.log($(this).attr('id'));
                    if (tab != $(this).attr('id')) {
                        $(this).removeClass("active");
                        $(this).hide();
                        $("#" + tab).addClass("active");
                        $("#" + tab).show();
                    }
                }
            });
        };

        function nextTab(currentTab, nextTab) {

            $("#" + currentTab).removeClass("active");
            $("#" + currentTab).hide();
            $("#" + nextTab).addClass("active");
            $("#" + nextTab).show();

        }

        function previousTab(currentTab, prevTab) {

            $("#" + currentTab).removeClass("active");
            $("#" + currentTab).hide();
            $("#" + prevTab).addClass("active");
            $("#" + prevTab).show();

        }


        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $('.btn-toggle').click(function () {
            $(this).find('.btn').toggleClass('active');

            if ($(this).find('.btn-primary').length > 0) {
                $(this).find('.btn').toggleClass('btn-primary');
            }

            $(this).find('.btn').toggleClass('btn-default');

        });

        function getFullNameCreate() {

            return $('#Username').val($('#Firstname').val() + ' ' + $('#Lastname').val());
        }

        function togglePassword() {
            if ($('#pswOption1').prop('checked')) {
                $('#inputPassword').attr('disabled', 'disabled');
                $('#inputPassword').val('');
                $('[data-valmsg-for="UserModel.Password"]').text('');
            }

            if ($('#pswOption2').prop('checked'))
                $('#inputPassword').removeAttr('disabled');
        }

        function validatePassword() {
            if ($('#pswOption2').prop('checked')) {
                var pswReg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^&*-]).{6,20}$/;
                if (!$('#inputPassword').val() || !pswReg.test($('#inputPassword').val()))
                    $('[data-valmsg-for="UserModel.Password"]').text('Please enter valid Password');
                else
                    $('[data-valmsg-for="UserModel.Password"]').text('');
            }
        }

    </script>
}